/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f9fc;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Conteneur principal pour le formulaire */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px; /* Espacement entre les formulaires */
}

/* Styles pour les titres */
h1 {
    text-align: center;
    color: #4CAF50;
    font-size: 2.2em;
    margin-bottom: 30px;
}

/* Styles pour les labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Style pour les champs de saisie et les textarea */
input[type="text"], textarea, select {
    width: 100%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    font-size: 1em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, textarea:focus, select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
    outline: none;
}

/* Styles pour le bouton d'ajout */
.button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.button:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

/* Styles pour le conteneur de contexte */
#contexte-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour le texte du contexte */
#contexte-container h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

/* Pour les petits écrans */
@media (max-width: 768px) {
    form {
        padding: 20px;
    }

    h1 {
        font-size: 1.8em;
    }

    input[type="text"], textarea, select {
        padding: 12px;
    }

    .button {
        font-size: 1em;
    }
}
